.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  align-items: center;
  font-style: italic;
}

.container ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.container a {
  text-decoration: none;
  color: black;
}

.container a:hover,
.container a:active,
.container a.active,
.container span:hover {
  color: rgba(234, 200, 103, 255);
}

.container span {
  margin: 0 0.2rem;
  cursor: pointer;
}

.container span:hover .icon {
  color: grey;
  margin-right: 0.2rem;
}
